* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
    /* 스크롤바 숨기기 */
    overflow: hidden;
}

body {
    font-family: 'Pretendard', sans-serif;
    background-image: url('../img/PPT 배경.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

/* 스크롤바 숨기기 (모든 브라우저 지원) */
::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

